 <section class="content-header">
    <h1>
        <i class="fa fa-university"></i> {{phrase.classrooms}}
    </h1>
</section>

<section class="content" ng-show="views.list">
  <a ng-click="addClassRoom()" class="floatRTL btn btn-success btn-flat pull-right marginBottom15">{{phrase.addClassRoom}}</a>
  <div class="box col-xs-12">
      <div class="box-header">
          <h3 class="box-title">{{phrase.listClassRooms}}</h3>
          <div class="box-tools">
              <div class="input-group">
                <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
              </div>
          </div>
      </div>
      <div class="box-body table-responsive">
          <table class="table table-hover">
              <tbody><tr>
                  <th>{{phrase.classRoomName}}</th>
                  <th>{{phrase.class}}</th>
                  <th>{{phrase.Subject}}</th>
                  <th>{{phrase.student}}</th>
                  <th>{{phrase.teacher}}</th>
                  <th>{{phrase.dormitory}}</th>
              </tr>
              <tr ng-repeat="classroom in classrooms | filter:searchText">
                  <td>{{classroom.classRoomName}}</td>
                  <td>
                      <span ng-repeat="class in classroom.associatedClasses">{{class.className}}<br/></span>
                  </td>
                  <td>
                      <span ng-repeat="subject in classroom.associatedSubjects">{{subject.subjectTitle}}<br/></span>
                  </td>
                  <td>
                      <span ng-repeat="student in classroom.associatedStudents">{{student.fullName}}<br/></span>
                  </td>
                  <td>
                      <span ng-repeat="teacher in classroom.associatedTeachers">{{teacher.fullName}}<br/></span>
                  </td>
                  <td>
                      <span ng-repeat="dorm in classroom.associatedDormitory">{{dorm.dormitory}}<br/></span>
                  </td>
                  <td>
                    <a ng-click="edit(classroom.id)" type="button" class="btn btn-info btn-flat" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></a>
                    <a ng-click="remove(classroom,$index)" type="button" class="btn btn-danger btn-flat" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></a>
                  </td>
              </tr>
              <tr ng-show="classes.length == '0'"><td class="noTableData" colspan="5">{{phrase.NoClassRooms}}</td></tr>
          </tbody></table>
      </div>
  </div>
</section>

 <section class="content" ng-show="views.add">
     <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelAdd}}</a>
     <div class="box col-xs-12">
         <div class="box-header">
             <h3 class="box-title">{{phrase.addClassRoom}}</h3>
             <div class="box-tools">
                 <div class="input-group">
                     <input type="text" name="table_search" ng-model="searchStudent" placeholder="{{phrase.SearchStudent}}" class="form-control input-sm">
                     <span class="input-group-addon"><i class="fa fa-search"></i></span>
                 </div>
             </div>
         </div>
         <div class="box-body table-responsive">
             <form class="form-horizontal" name="addDorm" role="form" ng-submit="saveAdd()" novalidate>
                 <div class="form-group" ng-class="{'has-error': addDorm.classRoomName.$invalid}">
                     <label class="col-sm-2 control-label">{{phrase.classRoomName}} * </label>
                     <div class="col-sm-10">
                         <input type="text" name="classRoomName" ng-model="form.classRoomName" class="form-control" required placeholder="{{phrase.classRoomName}}">
                     </div>
                 </div>
                 <div class="form-group" ng-class="{'has-error': addDorm.class.$invalid}">
                     <label class="col-sm-2 control-label">{{phrase.class}} *</label>
                     <div class="col-sm-10">
                         <select class="form-control" ng-model="form.class" name="class" ng-change="updatedClass(form.class)" required>
                             <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                         </select>
                     </div>
                 </div>
                 <div class="form-group" ng-class="{'has-error': addDorm.subjects.$invalid}">
                     <label class="col-sm-2 control-label">{{phrase.associatedSubjects}} *</label>
                     <div class="col-sm-10">
                         <select class="form-control" ng-model="form.subjects" name="subjects" multiple required>
                             <option ng-if="subjects" ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.subjectTitle}}</option>
                         </select>
                     </div>
                 </div>
                 <div class="form-group" ng-class="{'has-error': addDorm.students.$invalid}">
                     <label class="col-sm-2 control-label">{{phrase.associatedStudents}} *</label>
                     <div class="col-sm-10">
                         <select class="form-control" ng-model="form.students" name="students" multiple required>
                             <option ng-if="students" ng-repeat="student in students | filter:searchStudent" value="{{student.id}}">{{student.fullName}}</option>
                         </select>
                     </div>
                 </div>
                 <div class="form-group" ng-class="{'has-error': addDorm.teachers.$invalid}">
                     <label class="col-sm-2 control-label">{{phrase.associatedTeachers}} *</label>
                     <div class="col-sm-10">
                         <select class="form-control" ng-model="form.teachers" name="teachers" multiple required>
                             <option ng-if="teachers" ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.fullName}}</option>
                         </select>
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="col-sm-2 control-label">{{phrase.classDorm}}</label>
                     <div class="col-sm-10">
                         <select class="form-control" ng-model="form.dormitory" name="dormitory">
                             <option ng-repeat="dorm in dormitory" value="{{dorm.id}}">{{dorm.dormitory}}</option>
                         </select>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                         <button type="submit" class="btn btn-default" ng-disabled="addDorm.$invalid">{{phrase.addClassRoom }}</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
 </section>

<section class="content" ng-show="views.edit">
  <a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">{{phrase.cancelEdit}}</a>
  <div class="box col-xs-12">
    <div class="box-header">
        <h3 class="box-title">{{phrase.editClassRoom}}</h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" name="table_search" ng-model="searchStudent" placeholder="{{phrase.SearchStudent}}" class="form-control input-sm">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="box-body table-responsive">
      <form class="form-horizontal" name="editDorm" role="form" ng-submit="saveEdit()" novalidate>
        <div class="form-group" ng-class="{'has-error': editDorm.classRoomName.$invalid}">
          <label class="col-sm-2 control-label">{{phrase.classRoomName}} * </label>
          <div class="col-sm-10">
              <input type="text" name="classRoomName" ng-model="form.classRoomName" class="form-control" required placeholder="{{phrase.classRoomName}}">
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': editDorm.class.$invalid}">
          <label class="col-sm-2 control-label">{{phrase.class}} *</label>
          <div class="col-sm-10">
              <select class="form-control" ng-model="form.classes" name="class" ng-change="updatedClass(form.classes)" required>
                  <option ng-repeat="class in classes" value="{{class.id}}" ng-selected="form.classes.indexOf(class.id) > -1">{{class.className}}</option>
              </select>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': editDorm.subjects.$invalid}">
          <label class="col-sm-2 control-label">{{phrase.associatedSubjects}} *</label>
          <div class="col-sm-10">
              <select class="form-control" ng-model="form.subjects" name="subjects" multiple required>
                  <option ng-if="subjects" ng-repeat="subject in subjects" ng-selected="form.subjects.indexOf(subject.id) > -1" value="{{subject.id}}">{{subject.subjectTitle}}</option>
              </select>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': editDorm.students.$invalid}">
          <label class="col-sm-2 control-label">{{phrase.associatedStudents}} *</label>
          <div class="col-sm-10">
              <select class="form-control" ng-model="form.students" name="students" multiple required>
                  <option ng-if="students" ng-repeat="student in students | filter:searchStudent" ng-selected="form.students.indexOf(student.id) > -1" value="{{student.id}}">{{student.fullName}}</option>
              </select>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': editDorm.teachers.$invalid}">
          <label class="col-sm-2 control-label">{{phrase.associatedTeachers}} *</label>
          <div class="col-sm-10">
              <select class="form-control" ng-model="form.teachers" name="teachers" multiple required>
                  <option ng-if="teachers" ng-repeat="teacher in teachers" ng-selected="form.teachers.indexOf(teacher.id) > -1" value="{{teacher.id}}">{{teacher.fullName}}</option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">{{phrase.classDorm}}</label>
          <div class="col-sm-10">
              <select class="form-control" ng-model="form.dormitory" name="dormitory">
                  <option ng-repeat="dorm in dormitory" value="{{dorm.id}}" ng-selected="form.dormitory.indexOf(dorm.id) > -1">{{dorm.dormitory}}</option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-disabled="editDorm.$invalid">{{phrase.editClassRoom}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
